.Container{
    max-width: 1200px;
    padding: 30px 20px;
    margin: auto;
    display: flex;
    gap: 20px;
}
.Container div{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}
.Container h2{
  font-family: "Itim", cursive;
}
@media (max-width: 768px) {
    .Container {
        flex-direction: column;
        padding: 20px 10px;
    }
    .Container div {
        width: 100%;
    }
  
}