.hero{
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.hero h2{
  font-family: "Itim", cursive;
  margin-bottom: 20px;
}
.hero strong{
    font-weight: 700;
}